<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.helvetireader.safari.Helvetireader</string>
       <key>Team Identifier</key>
       <string>R8237HS3QS</string>
       <key>CFBundleVersion</key>
       <string>2</string>
       <key>CFBundleShortVersionString</key>
       <string>1.0</string>
       <key>URL</key>
       <string>http://github.com/downloads/ronny/helvetireader-safari-extension/Helvetireader.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
